
@font-face {
    font-family: SEGOEUIL;
  
    src: url('../font/SEGOEUIL.eot') format('embedded-opentype'),
         url('../font/SEGOEUIL.woff') format('woff'),
         url('../font/SEGOEUIL.ttf') format('truetype');
      /*   url('../font/SEGOEUIL.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: SEGO;
  
    src:  url('../font/segoe.ttf') format('truetype');
      /*   url('../font/SEGOEUIL.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
.node-webform .submitted{
    display:none;
}

body,select,input,p,label,a{
    font-family: "SEGO", verdana, helvetica, sans-serif ;
    font-size: 13px ;
    
    font-weight: normal;
    line-height: 20px;
    color: #333 ;    
}

#cboxLoadedContent{
    background: #fff;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.hidden{
    display: none;
}

body{
    position: relative;
    background: url("images/retina_wood.png");
}

fieldset {
    border:none;
}

footer{
    position: relative;
    z-index: 1;
    padding:5px 0px;
    background: #111;
}
footer table,
footer tbody{
    border:none !important;
}
footer tr{
    background: transparent !important;
    color: #fff;
    border:none !important
}
footer td{
    border:none !important;
    
}
footer p{
    color:#fff;
}

body li a.active{
    color: #0161ff;
}
body .container{
    width:1000px;
   
}
[id^="block"]{

    float: left;
    width:100%;
}
.tabs.primary{

    z-index: 10;

}
.tabs.primary:hover{
    opacity:1;
}
#tasks{
    margin: 0px;
}
#page{
    background: #fff;
}
#main-content{
    margin-right: 20px;
}
.node{
    margin-bottom: 0px;
}
.region-highlighted{
    padding: 0px 10px;
}
#block-system-main{
    padding: 0px 10px;
}

.align-middle{
    top: 50%;
    transform :translateY(-50%);
    -webkit-transform :translateY(-50%);
    -moz-transform :translateY(-50%);
    -ms-transform :translateY(-50%);
    -o-transform :translateY(-50%);
}

html body.admin-menu {
margin-top: 0px !important;
padding-top: 60px !important;
}
#mini-panel-top_page {
    position: relative
}
.pane-page-logo {
    float: left;
    width: 200px;
    position: relative;
    z-index: 1;
}
header{
    padding: 10px;
}
#logo{
 width: 106px;
float: left;
padding: 13px 8px;
position: relative;
z-index: 2;
margin-top: 0px;
display: none;
}
#slogan{
  padding: 10px 0px;  
 margin-left: -17px;
  text-align:center;
  float:left;
position: relative;
z-index: 2;
display: none;
}
#slogan .large{
    font-size:20px;
}

.header-cart{
    float: right;
    padding:20px;
}

#main-content-header{
    padding: 0px;

}
#header{
    position:relative;
}
#header:before {
content: "";
width: 98%;
height: 125px;
position: absolute;
top: 0px;
left: 0;
background: url("images/banner.png") no-repeat top left;
background-size: cover;
}
#block-system-main-menu {
margin: 56px 0px 0px;    
position:relative;
padding-bottom: 20px;
background: url("images/bg_menu.gif") no-repeat;
}
#block-system-main-menu ul{
    margin: 0px;
    padding: 0px;
}
#block-system-main-menu > .block-inner >ul{

width:100%;
float:left;
margin:0px;

padding: 0px;


}
#block-system-main-menu li{
word-wrap:break-word;
float:left;
white-space:pre-wrap;
list-style: none;
}


#block-system-main-menu > .block-inner >ul >li >a{
float:left;
padding:12px 30px ;
text-align: center;
text-transform:uppercase;
border: none;
color:#fff;
font-weight: bold;
text-decoration: none !important;
border-right: solid 1px #6a0506;
}
#block-system-main-menu > .block-inner >ul >li{
    margin: 0px;
    padding: 0px;
}
#block-system-main-menu >.block-inner >ul >li:last-child >a{
 border-right: none;   
}
#block-system-main-menu > .block-inner >ul >li >a:hover{
    background: url("images/menu_hover.gif") repeat-x;
}
#block-system-main-menu a{
font-size:12px;
float:left;
color:#333;
text-transform:capitalize;
}

#block-system-main-menu > .block-inner >ul > li > ul> li > a{
    color:#d02122;
    font-size: 14px;
}

#block-system-main-menu > .block-inner >ul > li > ul{
display:none;
position: absolute;
top: 44px;
margin: 0px;
left: 0px;
width: 970px;
z-index: 1000;
background: url('images/bg-menu2.gif') repeat-x #DFDFDF;
border: 1px solid #e0e0e0;
min-height: 120px;
}

#block-system-main-menu ul li ul li{
width:160px;
margin-bottom:1px;
position: relative;
}
#block-system-main-menu ul> li:hover ul{
display:block;
}

#block-system-main-menu ul> li:hover li a{
border-right: none;

}
#block-system-main-menu ul li ul li a{
width:100%;
border:none;
padding:0px 5%;
font-size:13px;
color: #333;
}



.front #main-content-header{
    display: none;
}

.view-id-homepage_slider{
width:100%;
height: 340px;
overflow: hidden;

}
.theme-light.slider-wrapper{
    padding: 0px !important;
}
.theme-light .nivoSlider{
    overflow: hidden;
    
}
.theme-light .nivo-caption{
    display: none !important;
}
#columns .block .block-title,
fieldset legend{
    font-size: 1.5em;    
     font-family: SEGOEUIL;
}
#content .block-title,
fieldset legend{
    color:#d02122;
    font-weight:bold;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc;
    padding :10px 0px !important;
    float:left;
    width:100%;
}

.region-sidebar-second{
    padding-right: 20px;
}

.region-sidebar-second .block{
    background: url("images/block-bg.gif") repeat-x #9F1A1B;
    
}



body .view-product-categories ul{
    margin: 0px;    
    padding: 0px;
}
.view-product-categories ul ul{
    display: none;
}
.view-product-categories ul ul li{
    padding-left: 5px;
}
.view-product-categories li.active ul{
    display: block;
}

.region-sidebar-second .block-title{
    padding :10px 10px !important;    
}
.region-sidebar-second table,
.region-sidebar-second tr{
    background: transparent;
    border: none;
}
.region-sidebar-second .block{
    border: 1px solid #e0e0e0;
}
.region-sidebar-second .block-title{
    border-bottom: 1px solid #ccc;
}
#block-menu-menu-service .block-title,
#block-views-product-categories-block .block-title{
    color:#fff;
    font-weight:bold;
    border-bottom: 1px solid #9B191A;

}
#block-menu-menu-service  ul,
#block-views-product-categories-block ul{
    padding:0px;
    margin:0px;
}
#block-menu-menu-service li,
#block-views-product-categories-block li{
    list-style:none;
    margin:0px;
}
#block-menu-menu-service li a,
#block-views-product-categories-block li a{
    color: #fff;
    border-bottom: 1px dotted #6a0506;
    display: block;
    padding: 2px 0px;
    
}
#block-views-product-categories-block li li a{
    padding-left:20px;
    display:block;
}
#block-menu-menu-service li a:before,
.view-product-categories ul li a:before {
    content:"";
    width: 0px;
    height: 0px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.view-product-categories > .view-content >.item-list  > ul >li.active >div>span> a:before{
    margin-top: 7px;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    _border-color: #ffffff #000000 #000000 #000000;

}
#block-commerce-cart-cart{
    background:url('images/bg-menu2.gif') repeat-x #DFDFDF;
}

.product-list   h3{
    float: left;
    width:100%;
    clear: both;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.product-list h3 a{
    padding-top: 10px;
    padding-bottom: 0px;

}

.product-list {
    width: 100%;
    float: left;
    
}
.product-list  .ajax-progress{
    display: none;
}
.product-list .views-row{
    float:left;
    width:22%;
    margin-right:3%;
    text-align: center;
    padding: 10px;
    position:relative;
    
}
.product-list .views-row:nth-child(4n){
    margin-right :0px;
}
.product-list .views-row:nth-child(4n +1){
    clear: left;
}
.product-list .views-field-nid{
    width:100%;
    height: 140px;
    border:1px solid #ccc;
    overflow:hidden;
}
.product-list .views-row img{
    display:block;
    margin: auto;
    
}
.product-list .views-field-title a{
    color: #000;
    font-size: 13px;
    
}
.product-list .views-field-field-body {
    display:none;
}
.product-list .views-field-commerce-price{
    color:red;
    font-weight:bold;
    
}
.product-list .views-field-add-to-cart-form{
    position:absolute;
    bottom:0px;
    
    
}
#block-views-product-listing-block .view-empty{
    padding:20px;
}
.product-detail .views-field{
    float: right;
    width: 60%;
}
.product-detail .views-field-field-images{
    float: left;
    width: 40%;
    height: 350px;
}
.product-detail .views-field-title h1{
    color:#555;
    font-size: 16px;
}

.product-detail .views-field .field-content{
        display:inline;
}
.product-detail .views-field-commerce-price .field-content {
display: block;
font-size: 16px;
color: #d02122;
font-weight: bold;
background: #f8f8f8;
padding: 10px;
}
.product-detail .views-field-field-product-include a{
    display:block;
}
.cloud-zoom-container{
    width: 300px;
    margin-right: 20px;
    float: left;
}
.cloud-zoom-container #wrap{
    min-height: 250px;
    float: none !important;


}
.cloud-zoom-container #wrap a.cloud-zoom{/*
    position: absolute !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/

}
#cloud-zoom-big{
    /*width: 450px !important;
    height:350px !important;*/
    background-repeat: no-repeat !important;
    border: 1px solid #ccc;
}
.mousetrap{
    background-repeat: no-repeat !important;
 

}
.cloud-zoom-lens{
    border: 1px solid #ccc;
    cursor: move;
}
.cloud-zoom-gallery-thumbs{
    width: 100%;
    overflow: hidden;
}
.cloud-zoom-gallery-thumbs a{
    float: left;
    border:1px solid #ccc;
    padding: 5px;
}
.cloud-zoom-gallery-thumbs a:not(:last-child){
    border-right: none;
}
.cloud-zoom-gallery-thumbs a img{
    width: 50px;
}

.page-taxonomy-term #block-system-main{
    display: none;
}

.commerce-add-to-cart .form-submit {
    background: url("images/add-cart.gif") repeat-x;
    border:none;
    color: #fff;
    padding: 4px 10px;
}

#tooltip {
position:absolute;
z-index:9999;

width :auto;
max-width: 250px;
background-color:#fff;
border:1px solid #cccccc;
padding: 3px;
-moz-box-shadow: 2px 2px 11px #666;
-webkit-box-shadow: 2px 2px 11px #666;
}

#tooltip .tooltip-item.title a{
    color: #d02122;
    display: block;
    padding: 10px;
    text-transform: uppercase;
}

.view-lastest-proruct-in-cart{
float:left;
width:60%
}
.view-lastest-proruct-in-cart .views-field-field-images{
float:left;
margin-right:10px;
width:150px
}
.view-lastest-proruct-in-cart .views-field-line-item-title a{
color:#333;
font-size:20px;
display:block;
padding-bottom:10px;
text-transform:uppercase;
}
.view-lastest-proruct-in-cart .views-field-commerce-total .field-content{
display:inline;
font-weight:bold;
color:red
}
.order-review{
    padding: 20px;
}
.order-review .odtotal{
float:right;
width:40%;
padding:10px;
border:1px solid #ccc;
}
.order-review .odtotal .odprice{
color:red;
font-weight:bold;

}
.order-review .block-title{
clear:both;
color: #D02122;
font-weight: bold;
border-top: 1px solid rgb(204, 204, 204) !important;
border-bottom: 1px solid #CCC;
padding: 10px 10px !important;
float: left;
width: 100%;
font-size: 1.5em;
font-family: SEGOEUIL;

}

.order-review .view-related-product img{
height:100%;
width:auto;
}
.view-commerce-cart-form th,
.view-commerce-cart-summary  th{
    color: #d02122;
    text-align: left;
}
.view-commerce-cart-form tr,
.view-commerce-cart-summary tr{
    background: transparent;
}
.view-commerce-cart-form input[type="text"]{
    text-align: center;
}

.order-review .odactions a{
border-radius: 20px;
color: #333;
padding: 3px 10px;
display: inline-block;
margin: 14px 0px;
  border: 1px solid #ccc;
  cursor: pointer;
}
[id^="commerce-checkout-form-checkout"] label{
    color: #555;
}
tr.info, tr.even, tr:nth-child(2n+2){
    background: transparent;
}
.commerce-add-to-cart.show [id^="edit-line-item-fields"] .multiply_extend{
    margin-top: -37px;
    display: block !important;
    margin-left: 106px;
    color: #666;

}
[id^="edit-line-item-fields"] {
    margin-bottom: 10px;
}
[id^="edit-line-item-fields"] .form-item.form-type-textfield,
[id^="edit-line-item-fields"] .multiply_extend   {
    display : none;
}
.buy-with-unit a{
    color:#fff;
    background: url("images/add-cart.gif") repeat-x;
    margin-top:10px;
    display:inline-block;
    padding:5px 10px;
    border-radius:5px;
    cursor: pointer;
}